In [104]:
import pandas as pd
from tqdm import tqdm
from pandas import DataFrame as df

In [105]:
data = pd.read_excel('G:/넥센타이어/Foot Print/FootPrintData_v1.0.xlsx')

In [106]:
data.drop(['Data0','Data64','Data65','Data66','Data67','Unnamed: 61'],axis=1,inplace=True)

In [107]:
data.head()

,Data2,Data3,Data4,Data5,Data6,Data7,Data8,Data9,Data10,Data11,...,Data51,Data52,Data53,Data57,Data58,Data59,Data60,Data61,Data62,Data63
0,1300D/2P 32EPI,WSD200,NYLON-66 1260D/1P,N'blue HD Plus,185.0,65.0,15.0,S,624.0,143.0,...,25,1P,1G,2019-01-18,494.0,2.14,139.75,157.54,67.38,98.77
1,1300D/2P 32EPI,WSD200,NYLON-66 1260D/1P,N'blue HD Plus,185.0,65.0,15.0,S,624.0,143.0,...,25,1P,2F,2019-01-18,494.0,2.14,139.94,156.78,67.41,97.58
2,1300D/2P 32EPI,WSD200,[AR/N66] HYBRID 1000/840,N'blue HD Plus,205.0,55.0,16.0,S,636.0,164.0,...,23,1P,1G,2019-04-10,570.0,1.80,171.63,167.14,63.38,97.22
3,1300D/2P 32EPI,WSD200,NYLON-66 1260D/1P,N'blue HD Plus,185.0,65.0,15.0,S,624.0,143.0,...,25,1P,1G,2019-01-18,443.0,2.24,136.48,145.75,66.89,97.16
4,1300D/2P 32EPI,WSD205,NYLON-66 1260D/2P 25EPI,N'blue HD Plus,215.0,60.0,16.0,S,659.0,159.0,...,27,1P,1G,2019-05-11,530.0,1.80,156.55,167.91,68.51,97.05

## 변수들 정보 확인

### 중복되는 경우 제거 
- Data64,Data65,Data66,Data67 ~ Data0(얘는 필요가 없음)
- 종속 변수 : Data60,Data62,Data63

#### 정보
56개 컬럼   
date time 1개  
float 41개  
int 1개 
범주형 13개

In [108]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15656 entries, 0 to 15655
Data columns (total 56 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Data2   15587 non-null  object
 1   Data3   15587 non-null  object
 2   Data4   15587 non-null  object
 3   Data5   15587 non-null  object
 4   Data6   15587 non-null  float64
 5   Data7   15587 non-null  float64
 6   Data8   15587 non-null  float64
 7   Data9   15587 non-null  object
 8   Data10  15587 non-null  float64
 9   Data11  15587 non-null  float64
 10  Data12  15587 non-null  float64
 11  Data13  15587 non-null  float64
 12  Data14  15587 non-null  float64
 13  Data15  15587 non-null  float64
 14  Data16  15587 non-null  float64
 15  Data17  15587 non-null  float64
 16  Data18  15587 non-null  float64
 17  Data19  15587 non-null  float64
 18  Data20  15587 non-null  float64
 19  Data21  15587 non-null  float64
 20  Data22  15587 non-null  float64
 21  Data23  15587 non-null  float64
 22  Data24  15587 non-null  float64
 23  Data25  15587 non-null  object
 24  Data26  15587 non-null  float64
 25  Data27  15587 non-null  float64
 26  Data28  15587 non-null  float64
 27  Data29  15587 non-null  float64
 28  Data30  15587 non-null  float64
 29  Data31  15587 non-null  float64
 30  Data32  15587 non-null  float64
 31  Data33  15587 non-null  float64
 32  Data34  15587 non-null  float64
 33  Data35  15587 non-null  float64
 34  Data36  15587 non-null  float64
 35  Data37  15587 non-null  float64
 36  Data38  15587 non-null  float64
 37  Data39  15587 non-null  float64
 38  Data40  15587 non-null  float64
 39  Data41  15587 non-null  float64
 40  Data42  15587 non-null  float64
 41  Data43  15578 non-null  object
 42  Data44  15587 non-null  object
 43  Data45  15587 non-null  object
 44  Data47  15656 non-null  object
 45  Data49  15656 non-null  object
 46  Data51  15656 non-null  int64
 47  Data52  15656 non-null  object
 48  Data53  15656 non-null  object
 49  Data57  15656 non-null  datetime64[ns]
 50  Data58  15656 non-null  float64
 51  Data59  15656 non-null  float64
 52  Data60  15656 non-null  float64
 53  Data61  15656 non-null  float64
 54  Data62  15656 non-null  float64
 55  Data63  15656 non-null  float64
dtypes: datetime64[ns](1), float64(41), int64(1), object(13)
memory usage: 6.7+ MB

## 범주형 변수 카테고리 개수 확인

In [109]:
categorical_meta = {}
el={}
for i in data.columns:
    if data[i].dtype=='object':
        categorical_meta[i]=len(set(data[i]))
    else:
        el[i]=0
print(categorical_meta)

{'Data2': 13, 'Data3': 16, 'Data4': 6, 'Data5': 84, 'Data9': 8, 'Data25': 3, 'Data43': 253, 'Data44': 14, 'Data45': 13, 'Data47': 10, 'Data49': 14, 'Data52': 3, 'Data53': 7}

## 결측치 확인

In [110]:
# 결측치 확인
print(data.isna().sum())

Data2     69
Data3     69
Data4     69
Data5     69
Data6     69
Data7     69
Data8     69
Data9     69
Data10    69
Data11    69
Data12    69
Data13    69
Data14    69
Data15    69
Data16    69
Data17    69
Data18    69
Data19    69
Data20    69
Data21    69
Data22    69
Data23    69
Data24    69
Data25    69
Data26    69
Data27    69
Data28    69
Data29    69
Data30    69
Data31    69
Data32    69
Data33    69
Data34    69
Data35    69
Data36    69
Data37    69
Data38    69
Data39    69
Data40    69
Data41    69
Data42    69
Data43    78
Data44    69
Data45    69
Data47     0
Data49     0
Data51     0
Data52     0
Data53     0
Data57     0
Data58     0
Data59     0
Data60     0
Data61     0
Data62     0
Data63     0
dtype: int64

## 결측치 대체
- 개수가 적은 관계로, 범주형 - 최빈값, 수치형 - 평균값 으로 대체

In [98]:
new_data = df()
for i in data.columns:
    if i=='Data57':
        new_data[i] = data[i]
        new_data[i]=new_data[i].astype('datetime64')
    else:
        if data[i].dtype == 'object':
            most_freq = data[i].value_counts(dropna=True).idxmax()
            new_data[i] = data[i].fillna(most_freq)
        else:
            new_data[i] = data[i].fillna(data[i].mean())

### 시간대로 sort(올림차순)

In [99]:
new_data=new_data.sort_values(by='Data57',axis=0)
new_data.to_csv('G:/넥센타이어/Foot Print/footprint_v2.csv',encoding='utf-8',index=False)