In [51]:
import pandas as pd
from tqdm import tqdm
from pandas import DataFrame as df

In [25]:
data = pd.read_excel('G:/넥센타이어/Foot Print/FootPrintData_v1.0.xlsx')

In [38]:
data = data.drop('Unnamed: 61',axis=1)

In [40]:
data.head()

,Data0,Data2,Data3,Data4,Data5,Data6,Data7,Data8,Data9,Data10,...,Data58,Data59,Data60,Data61,Data62,Data63,Data64,Data65,Data66,Data67
0,CTR-201901-0130-0045,1300D/2P 32EPI,WSD200,NYLON-66 1260D/1P,N'blue HD Plus,185.0,65.0,15.0,S,624.0,...,494.0,2.14,139.75,157.54,67.38,98.77,37.0,45.0,10.0,350
1,CTR-201901-0130-0042,1300D/2P 32EPI,WSD200,NYLON-66 1260D/1P,N'blue HD Plus,185.0,65.0,15.0,S,624.0,...,494.0,2.14,139.94,156.78,67.41,97.58,37.0,45.0,10.0,350
2,YTR-201903-0256-0264,1300D/2P 32EPI,WSD200,[AR/N66] HYBRID 1000/840,N'blue HD Plus,205.0,55.0,16.0,S,636.0,...,570.0,1.80,171.63,167.14,63.38,97.22,37.0,45.0,22.0,350
3,CTR-201901-0130-0014,1300D/2P 32EPI,WSD200,NYLON-66 1260D/1P,N'blue HD Plus,185.0,65.0,15.0,S,624.0,...,443.0,2.24,136.48,145.75,66.89,97.16,37.0,45.0,10.0,350
4,YTR-201905-0016-0017,1300D/2P 32EPI,WSD205,NYLON-66 1260D/2P 25EPI,N'blue HD Plus,215.0,60.0,16.0,S,659.0,...,530.0,1.80,156.55,167.91,68.51,97.05,37.0,45.0,21.5,300

## 변수들 정보 확인

In [41]:
data.info() # date time 1개, float 44개, int 2개, 범주형 14개

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15656 entries, 0 to 15655
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Data0   15587 non-null  object
 1   Data2   15587 non-null  object
 2   Data3   15587 non-null  object
 3   Data4   15587 non-null  object
 4   Data5   15587 non-null  object
 5   Data6   15587 non-null  float64
 6   Data7   15587 non-null  float64
 7   Data8   15587 non-null  float64
 8   Data9   15587 non-null  object
 9   Data10  15587 non-null  float64
 10  Data11  15587 non-null  float64
 11  Data12  15587 non-null  float64
 12  Data13  15587 non-null  float64
 13  Data14  15587 non-null  float64
 14  Data15  15587 non-null  float64
 15  Data16  15587 non-null  float64
 16  Data17  15587 non-null  float64
 17  Data18  15587 non-null  float64
 18  Data19  15587 non-null  float64
 19  Data20  15587 non-null  float64
 20  Data21  15587 non-null  float64
 21  Data22  15587 non-null  float64
 22  Data23  15587 non-null  float64
 23  Data24  15587 non-null  float64
 24  Data25  15587 non-null  object
 25  Data26  15587 non-null  float64
 26  Data27  15587 non-null  float64
 27  Data28  15587 non-null  float64
 28  Data29  15587 non-null  float64
 29  Data30  15587 non-null  float64
 30  Data31  15587 non-null  float64
 31  Data32  15587 non-null  float64
 32  Data33  15587 non-null  float64
 33  Data34  15587 non-null  float64
 34  Data35  15587 non-null  float64
 35  Data36  15587 non-null  float64
 36  Data37  15587 non-null  float64
 37  Data38  15587 non-null  float64
 38  Data39  15587 non-null  float64
 39  Data40  15587 non-null  float64
 40  Data41  15587 non-null  float64
 41  Data42  15587 non-null  float64
 42  Data43  15578 non-null  object
 43  Data44  15587 non-null  object
 44  Data45  15587 non-null  object
 45  Data47  15656 non-null  object
 46  Data49  15656 non-null  object
 47  Data51  15656 non-null  int64
 48  Data52  15656 non-null  object
 49  Data53  15656 non-null  object
 50  Data57  15656 non-null  datetime64[ns]
 51  Data58  15656 non-null  float64
 52  Data59  15656 non-null  float64
 53  Data60  15656 non-null  float64
 54  Data61  15656 non-null  float64
 55  Data62  15656 non-null  float64
 56  Data63  15656 non-null  float64
 57  Data64  15656 non-null  float64
 58  Data65  15638 non-null  float64
 59  Data66  15656 non-null  float64
 60  Data67  15656 non-null  int64
dtypes: datetime64[ns](1), float64(44), int64(2), object(14)
memory usage: 7.3+ MB

## 범주형 변수 카테고리 개수 확인

In [59]:
categorical_meta = {}
for i in data.columns:
    if data[i].dtype=='object':
        categorical_meta[i]=len(set(data[i]))
print(categorical_meta)

{'Data0': 15588, 'Data2': 13, 'Data3': 16, 'Data4': 6, 'Data5': 84, 'Data9': 8, 'Data25': 3, 'Data43': 253, 'Data44': 14, 'Data45': 13, 'Data47': 10, 'Data49': 14, 'Data52': 3, 'Data53': 7}

## 결측치 확인

In [62]:
# 결측치 확인
print(data.isna().sum())

Data0     69
Data2     69
Data3     69
Data4     69
Data5     69
          ..
Data63     0
Data64     0
Data65    18
Data66     0
Data67     0
Length: 61, dtype: int64

## 결측치 대체
- 개수가 적은 관계로, 범주형 - 최빈값, 수치형 - 중앙값 으로 대체

In [93]:
new_data = df()
for i in data.columns:
    if i == 'Data57':
        new_data.index = data[i]
    else:
        if data[i].dtype == 'object':
            new_data[i] = data[i].fillna('most freq')
        else:
            new_data[i] = data[i].fillna('median')

In [95]:
new_data.to_csv('G:/넥센타이어/Foot Print/footprint_v2.csv',encoding='utf-8')

In [96]:
new_data = pd.read_csv('G:/넥센타이어/Foot Print/footprint_v2.csv',encoding='utf-8',index_col=0)